<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb5OS3s1d4ja3qfLBgsuoGXM_n-X1qlH0</string>
	<key>GCM_SENDER_ID</key>
	<string>447109157220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ArtymOstap.JoinACode</string>
	<key>PROJECT_ID</key>
	<string>test2-48db9</string>
	<key>STORAGE_BUCKET</key>
	<string>test2-48db9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447109157220:ios:6c46c00735b5b4524c2a71</string>
</dict>
</plist>